.QUINES-SOMOS {
  background-color: #aebdcd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.QUINES-SOMOS .div {
  background-color: #aebdcd;
  width: 1440px;
  height: 1924px;
  position: relative;
}

.QUINES-SOMOS .overlap-group {
  height: 140px;
  top: 0;
  position: absolute;
  width: 1440px;
  left: 0;
}

.QUINES-SOMOS .menu {
  position: absolute;
  width: 1440px;
  height: 140px;
  top: 0;
  left: 0;
  background-color: #b4b4b4;
}

.QUINES-SOMOS .rectangle {
  height: 140px;
  background-color: #1a3059;
}

.QUINES-SOMOS .TITULOS-MEN {
  position: absolute;
  width: 124px;
  height: 19px;
  top: 65px;
  left: 1045px;
}

.QUINES-SOMOS .texto-men {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #fcfcfc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.QUINES-SOMOS .texto-men-wrapper {
  width: 50px;
  left: 553px;
  position: absolute;
  height: 19px;
  top: 65px;
}

.QUINES-SOMOS .div-wrapper {
  width: 192px;
  left: 625px;
  position: absolute;
  height: 19px;
  top: 65px;
}

.QUINES-SOMOS .TITULOS-MEN-2 {
  width: 94px;
  left: 838px;
  position: absolute;
  height: 19px;
  top: 65px;
}

.QUINES-SOMOS .TITULOS-MEN-3 {
  width: 63px;
  left: 957px;
  position: absolute;
  height: 19px;
  top: 65px;
}

.QUINES-SOMOS .TITULOS-MEN-4 {
  width: 46px;
  left: 1194px;
  position: absolute;
  height: 19px;
  top: 65px;
}

.QUINES-SOMOS .ellipse {
  width: 110px;
  height: 110px;
  top: 15px;
  position: absolute;
  left: 200px;
  object-fit: cover;
}

.QUINES-SOMOS .overlap {
  height: 234px;
  top: 1690px;
  background-color: #1a3059;
  position: absolute;
  width: 1440px;
  left: 0;
}

.QUINES-SOMOS .img {
  width: 90px;
  height: 90px;
  top: 25px;
  position: absolute;
  left: 200px;
  object-fit: cover;
}

.QUINES-SOMOS .NIVEL {
  position: absolute;
  width: 380px;
  height: 23px;
  top: 42px;
  left: 310px;
}

.QUINES-SOMOS .text-wrapper {
  position: absolute;
  width: 380px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #fcfcfc;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.QUINES-SOMOS .NIVEL-wrapper {
  position: absolute;
  width: 340px;
  height: 53px;
  top: 42px;
  left: 860px;
}

.QUINES-SOMOS .p {
  position: absolute;
  width: 340px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #78a7db;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.QUINES-SOMOS .NIVEL-2 {
  position: absolute;
  width: 380px;
  height: 23px;
  top: 82px;
  left: 310px;
}

.QUINES-SOMOS .NIVEL-3 {
  position: absolute;
  width: 380px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fcfcfc;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.QUINES-SOMOS .LINEAS {
  position: absolute;
  width: 360px;
  height: 1px;
  top: 76px;
  left: 310px;
  background-image: url(./img/lineQ-1-5.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.QUINES-SOMOS .LINEAS-2 {
  width: 1440px;
  top: 144px;
  left: 0;
  background-image: url(./img/lineQ-1-4.svg);
  position: absolute;
  height: 1px;
  background-size: cover;
  background-position: 50% 50%;
}

.QUINES-SOMOS .rol {
  position: absolute;
  width: 602px;
  height: 22px;
  top: 180px;
  left: 638px;
}

.QUINES-SOMOS .ROL {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fcfcfc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.QUINES-SOMOS .overlap-2 {
  height: 450px;
  top: 140px;
  position: absolute;
  width: 1440px;
  left: 0;
}

.QUINES-SOMOS .rectangle-2 {
  position: absolute;
  width: 1439px;
  height: 450px;
  top: 0;
  left: 1px;
}

.QUINES-SOMOS .rectangle-3 {
  position: absolute;
  width: 1440px;
  height: 450px;
  top: 0;
  left: 0;
  background-color: #1a3059cc;
}

.QUINES-SOMOS .text-wrapper-2 {
  position: absolute;
  width: 375px;
  top: 130px;
  left: 200px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #fcfcfc;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.QUINES-SOMOS .DESCRIPCIN-NIVEL {
  position: absolute;
  width: 700px;
  height: 108px;
  top: 219px;
  left: 200px;
}

.QUINES-SOMOS .nuestro-nivel {
  position: absolute;
  width: 700px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fcfcfc;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  text-align: justify;
}

.QUINES-SOMOS .LINEAS-3 {
  width: 1041px;
  top: 689px;
  left: 200px;
  background-image: url(./img/lineQ-1-1.svg);
  position: absolute;
  height: 1px;
  background-size: cover;
  background-position: 50% 50%;
}

.QUINES-SOMOS .LINEAS-4 {
  width: 1041px;
  top: 890px;
  left: 200px;
  background-image: url(./img/lineQ-1-1.svg);
  position: absolute;
  height: 1px;
  background-size: cover;
  background-position: 50% 50%;
}

.QUINES-SOMOS .LINEAS-5 {
  width: 1041px;
  top: 1079px;
  left: 200px;
  background-image: url(./img/lineQ-1-1.svg);
  position: absolute;
  height: 1px;
  background-size: cover;
  background-position: 50% 50%;
}

.QUINES-SOMOS .NIVEL-4 {
  position: absolute;
  width: 377px;
  height: 23px;
  top: 647px;
  left: 200px;
}

.QUINES-SOMOS .NIVEL-5 {
  position: absolute;
  width: 377px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #112444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.QUINES-SOMOS .NIVEL-6 {
  position: absolute;
  width: 377px;
  height: 23px;
  top: 848px;
  left: 200px;
}

.QUINES-SOMOS .NIVEL-7 {
  position: absolute;
  width: 440px;
  height: 23px;
  top: 1037px;
  left: 200px;
}

.QUINES-SOMOS .NIVEL-8 {
  position: absolute;
  width: 440px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #112444;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.QUINES-SOMOS .nuestro-nivel-wrapper {
  height: 84px;
  top: 712px;
  position: absolute;
  width: 1040px;
  left: 200px;
}

.QUINES-SOMOS .nuestro-nivel-2 {
  position: absolute;
  width: 1040px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #112444;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  text-align: justify;
}

.QUINES-SOMOS .DESCRIPCIN-NIVEL-2 {
  height: 62px;
  top: 913px;
  position: absolute;
  width: 1040px;
  left: 200px;
}

.QUINES-SOMOS .DESCRIPCIN-NIVEL-3 {
  height: 67px;
  top: 1102px;
  position: absolute;
  width: 1040px;
  left: 200px;
}

.QUINES-SOMOS .rectangle-4 {
  position: absolute;
  width: 1440px;
  height: 460px;
  top: 1230px;
  left: 0;
}
.enlace_blanco{
  color:white;
  transition: box-shadow 0.3s ease;
}
.enlace_blanco:hover {
  color:#6AA5E7;
  
}
.enlace_blanco2{
  color:white;
  transition: box-shadow 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.enlace_blanco2:hover {
  color:#6AA5E7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.enlace_blanco2{
  color:white;
  transition: box-shadow 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.enlace_blanco2:hover {
  color:#6AA5E7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}